@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

/* Toast UI Editor стили */
@import "@toast-ui/editor/dist/toastui-editor.css";
@import "@toast-ui/editor/dist/theme/toastui-editor-dark.css";

body {
  font-family: "Inter", "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
